{{template "base" .}}

{{define "page-title"}}
    About
{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5" style="color: #436D90">About Us</h1>
            <h5 class="mt-4" style="color: #2F3B30">
                <p><strong>NorwayHotel</strong> is a young company that provides accommodation for tourists in Norway. On our website you can find several rooms to choose from. Our company works with hundreds of clients from all over the world, we find a separate approach to each client and fulfill their requests. We hope that you will be satisfied after your stay in our rooms.</p>
            </h5>
            <div class="text-center mt-4">
                <h1 style="color: #436D90">Where can you find us</h1>
                <img src="/static/images/map.png" class="mt-4" alt="Map">
            </div>
        </div>
    </div>
</div>
{{end}}