{{template "base" .}}

{{define "page-title"}}
    Reservation Summary
{{end}}

{{define "content"}}
    {{$res := index .Data "reservation"}}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="mt-5 text-center" style="color: #436D90">Reservation Summary</h1>
                <table class="table table-striped mt-4">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{$res.FirstName}} {{$res.LastName}}</td>
                        </tr>
                        <tr>
                            <td>Room:</td>
                            <td>{{$res.Room.RoomName}}</td>
                        </tr>
                        <tr>
                            <td>Arrival:</td>
                            <td>{{formatDate $res.StartDate "2006"}} {{formatDate $res.StartDate "January"}} {{formatDate $res.StartDate "02"}}</td>
                        </tr>
                        <tr>
                            <td>Departure:</td>
                            <td>{{formatDate $res.EndDate "2006"}} {{formatDate $res.EndDate "January"}} {{formatDate $res.EndDate "02"}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{$res.Email}}</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>{{$res.Phone}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col text-center mt-4">
                    <a href="/" class="button-search">Home Page</a>
                </div>
            </div>
        </div>
    </div>
{{end}}