{{template "base" .}}

{{define "page-title"}}
    Summer House
{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-2" style="color: #436D90">Summer House</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <img src="/static/images/summer-house-t.jpg." class="img-fluid room-img rounded" alt="Summer House 1">
            </div>
            <div class="col-6">
                <img src="/static/images/summer-house2-t.jpg." class="img-fluid room-img rounded" alt="Summer House 2">
            </div>
            <div class="col-6 mt-4">
                <img src="/static/images/summer-house3-t.jpg." class="img-fluid room-img rounded" alt="Summer House 3">
            </div>
            <div class="col-6 mt-4">
                <img src="/static/images/summer-house4-t.jpg." class="img-fluid room-img rounded" alt="Summer House 4">
            </div>
            <div class="col mt-4">
                <h6 style="color: #2F3B30">
                    <p>The rock formation of the site is left completely intact. A rectangular concrete terrace is erected, and on top of that 7 differently shaped massiv wood slabs are placed to create both indoor and covered outdoor rooms. The 7 slabs are covered with a partially curved roof made of 2”x4”.</p>
                    <p>The ceiling is painted in lively colours, a tribute to the traditional houses in the area. All the outer timber are left untreated, turning grey over time.</p>
                    <p>Both the grey colour and the shape makes the summer house almost invisible from a distance, echoing the atmosphere in “the summerhouse”, a short story by Norwegian author Johan Borgen.</p>
                </h6>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <a id="check-availability-button" href="#!" class="button-search-rooms">Check Availability</a>
            </div>
        </div>
    </div>

{{end}}

{{define "js"}}
<script>
    document.getElementById('check-availability-button').addEventListener("click", function () {
        let html = `
            <div class="container">
                <form id="check-availability-form" action="" method="GET" novalidate class="needs-validation">
                    <div class="row">
                        <div class="col">
                            <div class="row" id="reservation-dates-modal">
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival" autocomplete="off">
                                </div>
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>`

        attention.custom({
            msg: html,
            title: "Choose your dates",
            willOpen: () => {
                const elem = document.getElementById('reservation-dates-modal');
                const rp = new DateRangePicker(elem, {
                    format: 'yyyy-mm-dd',
                    showOnFocus: true,
                    minDate: new Date(),
                })
            },
            didOpen: () => {
                document.getElementById('start').removeAttribute('disabled')
                document.getElementById('end').removeAttribute('disabled')
            },
            callback: function (result) {
                let form = document.getElementById("check-availability-form");
                let formData = new FormData(form);
                formData.append("csrf_token", "{{.CSRFToken}}");
                formData.append("room_id", "2")

                fetch("/search-availability-json", {
                    method: "post",
                    body: formData,
                })
                    .then(responce => responce.json())
                    .then(data => {
                        if (data.ok) {
                            attention.custom({
                                icon: 'success',
                                showConfirmButton: false,
                                msg: '<p>Room is available</p>'
                                    + '<p><a href="/book-room?id='
                                    + data.room_id
                                    + '&s='
                                    + data.start_date
                                    + '&e='
                                    + data.end_date
                                    + '" class="btn btn-primary">'
                                    + 'Book Now!</a></p>',
                            })
                        } else {
                            attention.error({msg: "No available"})
                        }
                    })
            }
        });
    });
</script>
{{end}}