{{template "base" .}}

{{define "page-title"}}
    Vega Cottage
{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-2" style="color: #436D90">Vega Cottage</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <img src="/static/images/vega.jpeg" class="img-fluid room-img rounded" alt="Vega 1">
            </div>
            <div class="col-6">
                <img src="/static/images/vega2.jpg" class="img-fluid room-img rounded" alt="Vega 2">
            </div>
            <div class="col-6 mt-4">
                <img src="/static/images/vega3.jpeg" class="img-fluid room-img rounded" alt="Vega 3">
            </div>
            <div class="col-6 mt-4">
                <img src="/static/images/vega4.jpg" class="img-fluid room-img rounded" alt="Vega 4">
            </div>
            <div class="col mt-4">
                <h6 style="color: #2F3B30; font-weight: 400">
                    <p>The house stands on the island of Vega in the Norwegian archipelago not far from the polar circle. The site is distinctive for its grand and harsh northern landscape with wide pano- ramas of the Norwegian Sea and the jagged mountains rising from it.</p>
                    <p>Not far from the site, near the ocean shore, stands a group of traditional seaside huts, in Norwegian called Naust, whose forms and materials reflect many years’ experience of building in these conditions. The outermost hut shelters those behind – the huts being placed at odd angles to each other, partly due to topography and partly due to chance. The windowless weathered wooden facades have a straightforward tectonic and a strong material vocabulary.</p>
                    <p>We believe that good buildings engender the refinement of everyday life, having a curious, evocative and empathic na- ture. We have aimed to build a contemporary Naust with an unpretentious presence and a distinctive character, develop- ing themes from the vernacular architecture.</p>
                    <p>Seemingly growing from the landscape, the house sits on a rock beneath a granite shoulder negotiating the uneven ter- rain. As not to disturb the dominant view towards the sea, access to the house is given through a narrow natural ravine densely grown with gnarled birch shrubs and laid out with sea-sand from the nearby shore. The landscape remains un- touched and wild.</p>
                </h6>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <a id="check-availability-button" href="#!" class="button-search-rooms">Check Availability</a>
            </div>
        </div>
    </div>

{{end}}

{{define "js"}}
<script>
    document.getElementById('check-availability-button').addEventListener("click", function () {
        let html = `
            <div class="container">
                <form id="check-availability-form" action="" method="GET" novalidate class="needs-validation">
                    <div class="row">
                        <div class="col">
                            <div class="row" id="reservation-dates-modal">
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival" autocomplete="off">
                                </div>
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>`

        attention.custom({
            msg: html,
            title: "Choose your dates",
            willOpen: () => {
                const elem = document.getElementById('reservation-dates-modal');
                const rp = new DateRangePicker(elem, {
                    format: 'yyyy-mm-dd',
                    showOnFocus: true,
                    minDate: new Date(),
                })
            },
            didOpen: () => {
                document.getElementById('start').removeAttribute('disabled')
                document.getElementById('end').removeAttribute('disabled')
            },
            callback: function (result) {
                let form = document.getElementById("check-availability-form");
                let formData = new FormData(form);
                formData.append("csrf_token", "{{.CSRFToken}}");
                formData.append("room_id", "1")

                fetch("/search-availability-json", {
                    method: "post",
                    body: formData,
                })
                    .then(responce => responce.json())
                    .then(data => {
                        if (data.ok) {
                            attention.custom({
                                icon: 'success',
                                showConfirmButton: false,
                                msg: '<p>Room is available</p>'
                                    + '<p><a href="/book-room?id='
                                    + data.room_id
                                    + '&s='
                                    + data.start_date
                                    + '&e='
                                    + data.end_date
                                    + '" class="btn btn-primary">'
                                    + 'Book Now!</a></p>',
                            })
                        } else {
                            attention.error({msg: "No available"})
                        }
                    })
            }
        });
    });
</script>
{{end}}