{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Vega Cottage</h1>
                <p>Your home away from home, full freedom on your trip to Norway, this will be a vacation to remember.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <img src="/static/images/vega.jpeg" class="img-fluid room-img rounded" alt="Vega 1">
            </div>
            <div class="col-6">
                <img src="/static/images/vega2-t.jpg" class="img-fluid room-img rounded" alt="Vega 2">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <img src="/static/images/vega3-t.jpeg" class="img-fluid room-img rounded" alt="Vega 3">
            </div>
            <div class="col-6">
                <img src="/static/images/vega4-t.jpg" class="img-fluid room-img rounded" alt="Vega 4">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <a id="check-availability-vc" href="#!" class="btn btn-secondary">Check Availability</a>
            </div>
        </div>
    </div>

{{end}}

{{define "js"}}
<script>
    document.getElementById('check-availability-vc').addEventListener("click", function () {
        let html = `
            <div class="container">
                <form id="check-availability-form" action="" method="GET" novalidate class="needs-validation">
                    <div class="row">
                        <div class="col">
                            <div class="row" id="reservation-dates-modal">
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival" autocomplete="off">
                                </div>
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>`

        attention.custom({
            msg: html,
            title: "Choose your dates",
            willOpen: () => {
                const elem = document.getElementById('reservation-dates-modal');
                const rp = new DateRangePicker(elem, {
                    format: 'yyyy-mm-dd',
                    showOnFocus: true,
                })
            },
            didOpen: () => {
                document.getElementById('start').removeAttribute('disabled')
                document.getElementById('end').removeAttribute('disabled')
            },
            callback: function (result) {
                console.log("called");

                let form = document.getElementById("check-availability-form");
                let formData = new FormData(form);
                formData.append("csrf_token", "{{.CSRFToken}}");

                fetch("/search-availability-json", {
                    method: "post",
                    body: formData,
                })
                    .then(responce => responce.json())
                    .then(data => {
                        console.log(data);
                        console.log(data.ok);
                        console.log(data.message);
                    })
            }
        });
    })
</script>
{{end}}